<%= render "shared/header" %>


<body class="post-recipe">

  <%= form_with model: @recipe, local: true do |f| %>

    <%# エラー発生時にメッセージを表示 %>
    <%= render 'shared/error_messages', model: f.object %>
    <%# //エラー発生時にメッセージを表示%>


    <div class="new-recipe">
      <h2>レシピの情報を入力</h2>

      <%# 写真 %>
      <div class="image">
        <b>料理の写真<span class="indispensable">必須</span></b>
        <div class="click-upload">
          <p>クリックしてファイルをアップロード</p>
          <%= f.file_field :image %>
        </div>
      </div>
      <%# /写真 %>

      <%# 料理名 %>
      <div class="name">
        <b>料理名<span class="indispensable">必須</span></b>
        <%= f.text_area :name, class:"form", id:"recipe-name", placeholder:"料理名（必須 40文字まで)", maxlength:"40" %>
      </div>
      <%# /料理名 %>

      <%# 人数分 %>
      <a class="person_id">
        <b>人数分<span class="indispensable">必須</span></b>
        <%= f.collection_select(:person_id, Person.all, :id, :name, {}, {class:"select-box", id:"recipe-person"}) %>
      </a>
      <%# /何人分？ %>

      <%# 材料 %>
      <div class="material">
        <b>材料<span class="indispensable">必須</span></b>
        <%= f.text_area :material, class:"form", id:"recipe-info", placeholder:"材料\n 例）豚肉:350g\n\n調味料\n 例）砂糖:大さじ1" ,rows:"7" ,maxlength:"100" %>
      </div>
      <%# /材料 %>

      <b>作り方</b>
      <div class="step">
        <%# STEP1 %>
        <div class="step1">
          <b>STEP1<span class="indispensable">必須</span></b>
          <%= f.text_area :step1, class:"form", id:"recipe-info", placeholder:"手順1を入力" ,rows:"5" ,maxlength:"100" %>
        </div>
        <%# /STEP1 %>

        <%# STEP2 %>
        <div class="step2">
          <b>STEP2</b>
          <%= f.text_area :step2, class:"form", id:"recipe-info", placeholder:"手順2を入力" ,rows:"5" ,maxlength:"100" %>
        </div>
        <%# /STEP2 %>

        <%# STEP3 %>
        <div class="step3">
          <b>STEP3</b>
          <%= f.text_area :step3, class:"form", id:"recipe-info", placeholder:"手順3を入力" ,rows:"5" ,maxlength:"100" %>
        </div>
        <%# /STEP3 %>

        <%# STEP4 %>
        <div class="step4">
          <b>STEP4</b>
          <%= f.text_area :step4, class:"form", id:"recipe-info", placeholder:"手順4を入力" ,rows:"5" ,maxlength:"100" %>
        </div>
      </div>

    </div>

    <%# 投稿ボタンと「もどる」ボタン %>
    <div class="btn">
        <%= f.submit "投稿する" ,class:"post-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

  <% end %>
</body>


<%= render "shared/footer" %>