<%= render "shared/header" %>

<div class ="contents row">

  <%# レシピの概要 %>
  <div class="content_post">
    <div class="recipe-image">
      <%= image_tag @recipe.image ,class:"recipe-box-img" %>
    </div>
    <div class="name">
      <%= @recipe.name %>
    </div>
    <div class="detail person_id">
      <b>材料</b>(<%= @recipe.person.name %>)
    </div>
    <div class="detail material">
      <%= @recipe.material %>
    </div>

    <div class="detail step">
      <b>作り方</b>
      <div class="step1">
        <b>STEP1</b>
        <br><%= @recipe.step1 %></br>
      </div>
      <div class="step2">
        <b>STEP2</b>
        <br><%= @recipe.step2 %></br>
      </div>
      <div class="step3">
        <b>STEP3</b>
        <br><%= @recipe.step3 %></br>
      </div>
      <div class="step4">
        <b>STEP4</b>
        <br><%= @recipe.step4 %></br>
      </div>
    </div>
    <%# レシピの概要 %>

    <%# 編集ボタンと削除ボタン%>
    <div class="option">
      <% if user_signed_in? %>
        <% if current_user.id == @recipe.user_id %>
          <%= link_to '編集する', edit_recipe_path(@recipe.id), method: :get, class: "recipe-red-btn" %>
          <%= link_to '削除する', recipe_path(@recipe.id), method: :delete, class:'recipe-destroy' %>
        <% end %>
      <% end %>
    </div>
    <%# 編集ボタンと削除ボタン%>

    <%# タイマー %>
    <%= render "shared/timer" %>

  </div>
</div>


<%= render "shared/footer" %>