<%# CSS・・・assets/stylesheets/shared/header.css %>
<header>
  <%= link_to "COOK TIMER", "/" %>
</header>

<nav>
  <%# ログインの有無で表示が変わるよう分岐 %>
  <% if user_signed_in? %>
    <ul class="signed-in">
      <li><%= current_user.nickname %>さん、こんにちは！</li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <%# <li><%= link_to "レシピを投稿", new_recipe_path, class: "post" %></li>
    </ul>
  <% else %>
    <ul class="signed-up">
      <li><%= link_to "ログイン", new_user_session_path %></li>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
    </ul>
  <%# ログインの有無で表示が変わるよう分岐 %>
  <% end %>
</nav>
